name                                                                                                                            
--------------------------------------------------------------------------------------------------------------------------------
CHK_ea8fee57bb0be8ec3843e117db_ENUM                                                                                             

(1 rows affected)
